*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

ul{
    list-style-type: none;
}

a{
    text-decoration: none;
}

.content{
    display: grid;
    grid-template-columns: 1fr 4fr;
    background-color: #26f;
}

aside{
    color: #ececec;
    padding: 1.5rem;
    padding-right: 0;
    position: sticky;
    top: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between
}

.logo{
    font-weight: 400;
    font-size: 1.6rem;
}

.menu{
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.boton-menu{
    width: 100%;
    display: flex;
    align-items: center;
    background-color: transparent;
    border: 0;
    color: #ececec;
    font-size: .85rem;
    font-weight: 600;
    cursor: pointer;
    gap: 1rem;
    white-space: nowrap;
    padding: 1rem;
}

.boton-menu.active{
    background-color: #ececec;
    color: #26f;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    position: relative;
}

.boton-menu.active::before{
    content: "";
    position: absolute;
    width: 1rem;
    height: 2rem;
    background-color: transparent;
    bottom: 100%;
    right: 0;
    border-bottom-right-radius: .5rem;
    box-shadow: 0 1rem 0 #ececec;
}

.boton-menu.active::after{
    content: "";
    position: absolute;
    width: 1rem;
    height: 2rem;
    background-color: transparent;
    top: 100%;
    right: 0;
    border-top-right-radius: .5rem;
    box-shadow: 0 -1rem 0 #ececec;
}

.bi-hand-index-thumb-fill, 
.bi-hand-index-thumb{
    transform: rotateZ(90deg);
}

.boton-carrito{
    margin-top: 2rem;
}

.numerito{
    background-color: #ececec;
    color: #26f;
    padding: .15rem .25rem;
    border-radius: 1rem;
}

.boton-carrito.active .numerito{
    background-color: #26f;
    color: #ececec;
}

.texto-footer{
    color: #dddb;
    font-size: .85rem;
    font-weight: 200;
}

main{
    background-color: #ececec;
    margin: 1rem;
    margin-left: 0;
    border-radius: 2rem;
    padding: 3rem;
}

.titulo-principal{
    color: #26f;
    margin-bottom: 2rem;
}

.contenedor-productos{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
}

.producto-img{
    max-width: 100%;
    border-radius: 1rem;
    border-end-end-radius: 0;
    border-end-start-radius: 0;
}

.producto-detalles{
    background-color: #26f;
    color: #ececec;
    padding: .5rem;
    border-radius: .5rem; 
    margin-top: -.5rem;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: .25rem;
}

.producto-titulo{
    font-size: 1rem;
}

.producto-agregar{
    border: 0;
    background-color: #ececec;
    padding: .4rem;
    text-transform: uppercase;
    border-radius: 1.5rem;
    cursor: pointer;
    border: 2px solid #ececec;
    transition: background-color .3s;
}

.producto-agregar:hover{
    background-color: #26f;
    color: #ececec;
}

/** Carrito **/

.contenedor-carrito{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.carrito-vacio,
.carrito-comprado {
    color: #26f;
}

.carrito-productos{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.carrito-producto{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(218, 215, 215);
    color: #26f;
    border-radius: 1rem;
    padding: .5rem
}

.carrito-producto-imagen{
    width: 4rem;
    border-radius: 1rem;
}

.carrito-producto small{
    font-size: .75rem;
}

.boton-eliminar{
    border: 0;
    background-color: transparent;
    color: rgb(179, 0, 0);
    cursor: pointer;
    padding-right: 1rem;
}

.carrito-acciones{
    display: flex;
    justify-content: space-between;
}

.carrito-acciones-vaciar{
    border: 0;
    background-color: rgb(218, 215, 215);
    padding: 1rem;
    border-radius: 1rem;
    text-transform: uppercase;
    cursor: pointer;
    color: #26f;
}

.carrito-acciones-derecha{
    display: flex;
}

.carrito-acciones-total{
    display: flex;
    background-color: rgb(218, 215, 215);
    padding: 1rem;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    text-transform: uppercase;
    color: #26f;
    gap: 1rem;
}

.carrito-acciones-comprar{
    border: 0;
    background-color: #26f;
    padding: 1rem;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    text-transform: uppercase;
    cursor: pointer;
    color: #ececec;
}

.disabled{
    display: none;
}


